<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n static %}

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/bootstrap-rtl.css" %}">
{% endif %}
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{% static "css/cartridge.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
{% endif %}
{% endifinstalled %}
<link rel="stylesheet" href="{% static "css/trehacklab.css" %}">
{% block extra_css %}{% endblock %}
{% endcompress %}

{% compress js %}
<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/bootstrap-extras.js" %}"></script>
{% block extra_js %}{% endblock %}
{% endcompress %}

<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

{% block extra_head %}{% endblock %}
<link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">
</head>

<body id="{% block body_id %}body{% endblock %}">

<div class="navbar navbar-default" role="navigation">
<div class="container">
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">{% trans "Toggle Navigation" %}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    {% block navbar_title %}
    {% if settings.SITE_TITLE %}<a class="navbar-brand" href="/">
        <img src="{% static "img/logo.png" %}" alt="{{ settings.SITE_TITLE }}" style="height: 30px;">
    </a>{% endif %}
    {% if settings.SITE_TAGLINE %}<p class="navbar-text visible-lg">{{ settings.SITE_TAGLINE }}</p>{% endif %}
    {% endblock%}
</div>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-right">
        <li class="mulysa"><a href="https://my.tampere.hacklab.fi" target="_blank" title="jäsenrekisteri"><i class="fas fa-user-circle fa-2x"></i></a></li>
    </ul>
    {% comment "No real need for search, make room for link to mulysa" %}
    {% block navbar_search_form %}{% search_form "all" %}{% endblock %}
    {% endcomment %}
    {% block navbar_dropdown_menu %}{% page_menu "pages/menus/dropdown.html" %}{% endblock%}
</div>
</div>
</div>

<div class="container">

{% nevercache %}
{% if messages %}
<div class="messages">
{% for message in messages %}
<div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ message }}
</div>
{% endfor %}
</div>
{% endif %}
{% endnevercache %}

<h1>{% block title %}{% endblock %}</h1>

{% comment "No real need for breadcrumbs" %}
<ul class="breadcrumb">
{% spaceless %}
{% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
{% endspaceless %}
</ul>
{% endcomment %}

</div>

<div class="container">
<div class="row">

{% comment "hide left column, and widen the middle column" %}
<div class="col-md-2 left">
    {% block left_panel %}
    <div class="panel panel-default tree">{% page_menu "pages/menus/tree.html" %}</div>
    {% endblock %}
</div>
{% endcomment %}

<div class="col-md-12 middle">
    {% block main %}{% endblock %}
</div>

{% comment "hide right column, and widen the middle column" %}
<div class="col-md-3 right">
    {% nevercache %}
    {% include "includes/language_selector.html" %}
    {% include "includes/user_panel.html" %}
    {% endnevercache %}
    <div class="panel panel-default">
    <div class="panel-body">
    {% block right_panel %}
    {% ifinstalled mezzanine.twitter %}
    {% include "twitter/tweets.html" %}
    {% endifinstalled %}
    {% endblock %}
    </div>
    </div>
</div>
{% endcomment %}

</div>
</div>

<footer>
<div class="container">

    <div class="row somelinks row-top-margin">
        <div class="col-xs-4 col-sm-1 col-sm-offset-2">
            <a href="https://wiki.tampere.hacklab.fi/palvelut#pikaviestinkanavat" target="_blank" title="chat">
                <i class="fas fa-comments fa-3x"></i>
            </a>
        </div>
        <div class="col-xs-4 col-sm-1">
            <a href="https://discourse.hacklab.fi/" target="_blank" title="discourse">
                <i class="fab fa-discourse fa-3x"></i>
            </a>
        </div>
        <div class="col-xs-4 col-sm-1">
            <a href="https://twitter.com/trehacklab" target="_blank" title="twitter">
                <i class="fab fa-twitter fa-3x"></i>
            </a>
        </div>
        <div class="col-xs-4 col-sm-1">
            <a href="https://www.facebook.com/groups/Tampere-Hacklab/" target="_blank" title="facebook">
                <i class="fab fa-facebook fa-3x"></i>
            </a>
        </div>
        <div class="col-xs-4 col-sm-1">
            <a href="https://www.instagram.com/tampere.hacklab.fi/" target="_blank" title="instagram">
                <i class="fab fa-instagram fa-3x"></i>
            </a>
        </div>
        <div class="col-xs-4 col-sm-1">
            <a href="https://github.com/TampereHacklab" target="_blank" title="github">
                <i class="fab fa-github fa-3x"></i>
            </a>
        </div>
        <div class="col-xs-4 col-sm-1">
            <a href="https://www.youtube.com/channel/UCPRwItBuFcU2yqsZGIXJucw" target="_blank" title="youtube">
                <i class="fab fa-youtube fa-3x"></i>
            </a>
        </div>
        <div class="col-xs-4 col-sm-1">
            <a href="https://qoto.org/@tamperehacklab/" target="_blank" title="mastodon">
                <i class="fab fa-mastodon fa-3x"></i>
            </a>
        </div>
    </div>

{% comment "hide right column, and widen the middle column" %}
{% page_menu "pages/menus/footer.html" %}
{% endcomment %}

<div class="row row-top-margin sponsorslabel">
    <h4>Sponsorit</h4>
</div>
<div class="row row-top-margin sponsors">
    <div class="col-xs-12 col-sm-6 col-lg-4">
       <p><a href="https://upcloud.com/signup/?promo=hacklab" target="_blank"> <img alt="UpCloud" height="86" src="{% static 'img/sponsors/upcloud_logo_horizontal.png' %}" width="320"> </a></p>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
        <p><a href="https://ketturi.kapsi.fi/" target="_blank"><img alt="Ketturi Electronics" src="{% static 'img/sponsors/ketturi_electronics_logo.png' %}" width="250"></a></p>
    </div>
    <div class="clearfix hidden-xs hidden-lg"></div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
        <p><a href="http://www.cavitar.com/" target="_blank"><img height="102" src="{% static 'img/sponsors/cavitar_logo.jpg' %}" width="250"></a></p>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4 col-lg-push-2">
        <p><a href="https://www.mekanisaatio.fi/" target="_blank"><img height="65" src="{% static 'img/sponsors/amekanisaatio.png' %}" width="300"></a></p>
    </div>
    <div class="clearfix hidden-xs hidden-lg"></div>
    <div class="col-xs-12 col-sm-6 col-lg-4 col-lg-push-2">
        <p><a href="https://binary.fi/" target="_blank"><img alt="Binary Solutions" src="{% static 'img/sponsors/binary_logo.png' %}" width="250"></a></p>
    </div>
</div>

<div class="row row-top-margin">
    <p class="text-center">
        <a href="/pages/yhdistys/yhteystiedot">Yhteystiedot</a>
    </p>
    <p class="text-center">
        <a href="/pages/mistä-meidät-löytää/">Ahlmanintie 56, Tampere</a>
        <a href="tel:+358 93157 6905">+358 93157 6905</a>
        <a href="mailto:info@tampere.hacklab.fi">info@tampere.hacklab.fi</a>
    </p>
    <p class="text-center">
        Tampere Hacklab is a part of the Finnish hacklab community, read more at <a href="https://hacklab.fi" target="_blank">hacklab.fi</a>
    </p>
    <p class="site-info text-center">
    {% trans "Powered by" %}
    <a href="http://mezzanine.jupo.org">Mezzanine</a>{% ifinstalled cartridge.shop %},
    <a href="http://cartridge.jupo.org">Cartridge</a>{% endifinstalled %}
    {% trans "and" %}
    <a href="http://www.djangoproject.com">Django</a>
    <span class="separator">|</span>
    {% trans "Theme by" %} <a target="_blank" href="http://getbootstrap.com">Bootstrap</a>
    {% ifinstalled mezzanine.mobile %}
    <span class="separator">|</span>
    <a href="{% url "set_device" "mobile" %}?next={{ request.path }}">{% trans "View Mobile Site" %}</a>
    {% endifinstalled %}
</p>
</div>
</div>
</footer>

{% block footer_js %}
{% include "includes/footer_scripts.html" %}
{% endblock %}

</body>
</html>
