
body {
  padding-top: 0px;
/*
  TODO: Black background to match our color style.
  color: #fff;
  background-color: #000;
*/
}
.navbar-default {
	background-color: #f9fb4c;
	background-image: none;
/*	background-image: linear-gradient(to bottom, #FD3 0%, #FFCC1F 3%, #FFCC1F 90%, #a90 100%);*/
}
.navbar-default .navbar-brand {
  padding: 5px;
}

.navbar-default .navbar-brand img {
  height: 40px;
}

.navbar-text {
  color: #000 !important;
  font-size: 14px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.nav > li > a:hover, .nav > li > a:focus,
.nav > li > a.dropdown-toggle:hover {
  color: #000;
  background-color: #cc0;
  background-image: none;
}

.row-top-margin {
	margin-top: 20px;
}

.navbar-default .navbar-nav > li > a {
  color: #000;
}

.middle a { color: black }
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus,
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus,
.pagination > li > a, .pagination > li > span {
	color: black;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #f9fb4c;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
	color: black;
}

/*
.navbar-collapse .navbar-right {
	margin-right: -50px;
}
*/

.koronainfo {
	border: 5px dashed #FFCC1F;
	margin-bottom: 1em;
	padding: 2em;
}
.koronainfo h2 {
	margin-top: 0;
}

footer {
	background-color: #f9fb4c;
	background-image: none;
}

footer a {
	color: black;
}
footer .site-info {
	font-size: 70%;
}

/* style external links */
:root {
	/*
	line left
	line right
	line bottom
	line top
	arrow left
	arrow right
	arrow diagonal
	*/
	--icon-external-link: url('data:image/svg+xml,\
	<svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 20 20"> \
		<g style="stroke:rgb(35,82,124);stroke-width:1"> \
			<line x1="5" y1="5" x2="5" y2="14" /> \
			<line x1="14" y1="9" x2="14" y2="14" /> \
			<line x1="5" y1="14" x2="14" y2="14" /> \
			<line x1="5" y1="5" x2="9" y2="5"  /> \
			<line x1="10" y1="2" x2="17" y2="2"  /> \
			<line x1="17" y1="2" x2="17" y2="9" /> \
			<line x1="10" y1="9" x2="17" y2="2" style="stroke-width:1.5" /> \
		</g> \
	</svg>');
}
a[href*="//"]:not([href*="//tampere.hacklab.fi"]):after {
	content: '';
	background: no-repeat var(--icon-external-link);
	padding-right: 1em;
}
footer div.somelinks a,
li.mulysa a,
li.mulysa a:focus,
li.mulysa a:hover {
	color: black;
	background-color: transparent;
}
/* remove external link styling from footer some icons */
footer div.somelinks a:after,
footer div.sponsors a:after,
li.mulysa a:after {
	background: none !important;
}

footer div.sponsors {
	background-color: white;
	border-radius: 1em;
	padding-top: 1em;
	padding-bottom: 1em
}
footer div.sponsorslabel h4 {
	font-size: 30px;
	text-align: center;
	margin-top: 20px;
    margin-bottom: 10px;
}

footer div.sponsors p {
	text-align: center !important;
}
