
body { 
  padding-top: 0px; 
/*
  TODO: Black background to match our color style.
  color: #fff;
  background-color: #000;
*/
}
.navbar-default {
  background-image: linear-gradient(to bottom, #FD3 0%, #FFCC1F 3%, #FFCC1F 90%, #a90 100%);
}
.navbar-default .navbar-brand {
  color: #000;
}
.navbar-text {
  color: #000 !important;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000;
  background-color: #cc0;
}
.navbar-default .navbar-nav > li > a {
  color: #000;
}

